{% extends 'public/templates/public_template.html' %}
{% import 'macros/test_macro.html' as tem %}
{% block tab_title %}{{ username }} - Overview{% endblock tab_title %}

{% block main %}
<div class="section pb-1">
    <div class="level mb-1 ">
        <div class="level-left">

            <div class="level-item">
                <img src="https://images.hive.blog/u/{{ username }}/avatar/medium" alt="PP">

            </div>
            <div class="level-item ">
                <div>
                    <p class='title'>
                        @{{ username }}
                    </p>
                    <p class='heading'>
                        <span class="icon is-small">
                            <ion-icon name="location-sharp"></ion-icon>
                        </span>
                        {{ user_data['profile']['location'] }}
                    </p>
                    <p class="heading">
                        rep: {{ user_data['reputation']|round(2) }}
                    </p>
                </div>
            </div>



        </div>

        <div class="level-item"></div>

        <div class="level-right">
            <div class="level-item">

                <div class="buttons has-addons">
                    <a href="https://peakd.com/@{{ username }}" target='_blank'
                        class='button is-rounded is-dark'>Peakd</a>
                    <a href="https://hive.blog/@{{ username }}" target='_blank'
                        class='button is-rounded is-danger'>Hive.blog</a>
                    <a href="https://d.buzz/@{{ username }}" target='_blank' class='button is-rounded is-info'>Dbuzz</a>
                </div>

            </div>

        </div>
    </div>
    <div class="level">
        <div class="level-right">
            <div class="level-item">
                <h1 class='subtitle'>
                    About: {{ user_data['profile']['about'] }}
                </h1>
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                <a href="{{ user_data['profile']['website'] }}"
                    class='button is-light '>{{ user_data['profile']['website'] }}</a>
            </div>

        </div>
    </div>
</div>

<div id="user_content" class="section pt-1">
    <!-- tabs -->
    <div class="tabs is-centered is-boxed ">
        <ul>
            <li tab-target="overview" class="is-active">
                <a>
                    <span>Overview</span>
                </a>
            </li>
            <li tab-target="numbers">
                <a>
                    <span>Numbers</span>
                </a>
            </li>
            <li tab-target="charts">
                <a>
                    <span>Charts</span>
                </a>
            </li>
            <li tab-target="others">
                <a>
                    <span>others</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end tabs -->
    <div class="content-tabs">

        <div tab-content='overview' class='is-active'>
            <!-- START TAB CONTENT OVERVIEW -->
            <div class="tile is-ancestor">
                <div class="tile is-parent ">

                    <div class="tile is-child box has-text-centered">
                        <h1 class='title'>Balances</h1>
                        <hr>
                        <div class="level">
                            <div class="level-item">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('HIVE') }}
                                    </p>
                                    <p class='heading'>HIVE</p>
                                </div>
                            </div>
                            

                            <div class="level-item">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('HBD') }}
                                    </p>
                                    <p class='heading'>HBD</p>
                                </div>
                            </div>

                            <div class="level-item">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('VESTS') }}
                                    </p>
                                    <p class='heading'>VESTS</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tile is-child box has-text-centered">
                        <h1 class='title'>Ressources</h1>
                        <hr>
                        <p class="heading">Voting Power</p>
                        <progress class="progress is-info" value="{{ user_data.get('voting_power') }}"
                            max="100">{{ user_data.get('voting_power') }}%</progress>
                        <p class="heading">Downvoting Power</p>
                        <progress class="progress is-danger" value="{{ user_data.get('downvoting_power') }}"
                            max="100">{{ user_data.get('downvoting_power') }}%</progress>

                    </div>
                </div>
            </div>


            <!-- END TAB CONTENT OVERVIEW -->

        </div>


        <div tab-content='numbers'>
            NumbersNumbersNumbersNumbers
        </div>

        <div tab-content='charts'>
            ChartsChartsChartsCharts
        </div>

        <div tab-content='others'>
            othersothersothersothers
        </div>

    </div>

</div>

{% endblock main %}

{% block script %}

<script>
    const TABS = document.querySelectorAll("[tab-target]");
    const CONTENT = document.querySelectorAll('[tab-content]');
    const ACTIVE_CLASS = 'is-active';

    function initTabs() {
        TABS.forEach((tab) => {
            tab.addEventListener('click', (e) => {
                let selected = tab.getAttribute('tab-target');
                updateActiveTab(tab);
                updateActiveContent(selected);
            })
        })
    }

    function updateActiveTab(selected) {
        TABS.forEach((tab) => {
            if (tab && tab.classList.contains(ACTIVE_CLASS)) {
                tab.classList.remove(ACTIVE_CLASS);
            }
        });
        selected.classList.add(ACTIVE_CLASS);
    }

    function updateActiveContent(selected) {
        CONTENT.forEach((item) => {
            if (item && item.classList.contains(ACTIVE_CLASS)) {
                item.classList.remove(ACTIVE_CLASS);
            }
            let data = item.getAttribute('tab-content');
            if (data === selected) {
                item.classList.add(ACTIVE_CLASS);
            }
        });
    }

    initTabs();

</script>

{% endblock script %}