{% extends 'public/templates/public_template.html' %}
{% import 'macros/test_macro.html' as tem %}
{% block tab_title %}{{ username }} - Overview{% endblock tab_title %}

{% block main %}
<div class="section pb-1">
    <div class="level mb-1 ">
        <div class="level-left">

            <div class="level-item">
                <img src="https://images.hive.blog/u/{{ username }}/avatar/medium" alt="PP">

            </div>
            <div class="level-item ">
                <div>
                    <p class='title'>
                        @{{ username }}
                    </p>
                    <p class='heading'>
                        <span class="icon is-small">
                            <ion-icon name="location-sharp"></ion-icon>
                        </span>
                        {{ user_data['profile']['location'] }}
                    </p>
                    <p class="heading">
                        rep: {{ user_data['reputation']|round(2) }}
                    </p>
                </div>
            </div>



        </div>



        <div class="level-right">
            <div class="level-item">

                <div class="buttons has-addons">
                    <a href="https://peakd.com/@{{ username }}" target='_blank'
                        class='button is-rounded is-dark'>Peakd</a>
                    <a href="https://hive.blog/@{{ username }}" target='_blank'
                        class='button is-rounded is-danger'>Hive.blog</a>
                    <a href="https://d.buzz/@{{ username }}" target='_blank' class='button is-rounded is-info'>Dbuzz</a>
                </div>

            </div>

        </div>
    </div>
    <div class="level">
        <div class="level-right">
            <div class="level-item">
                <h1 class='subtitle'>
                    About: {{ user_data['profile']['about'] }}
                </h1>
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                <a href="{{ user_data['profile']['website'] }}"
                    class='button is-light '>{{ user_data['profile']['website'] }}</a>
            </div>

        </div>
    </div>
</div>

<div id="user_content" class="section pt-1">
    <!-- tabs -->
    <div class="tabs is-centered is-boxed ">
        <ul>
            <li tab-target="overview" class="is-active">
                <a>
                    <span>Overview</span>
                </a>
            </li>
            <li tab-target="money">
                <a>
                    <span>Money</span>
                </a>
            </li>
            <li tab-target="charts">
                <a>
                    <span>Charts</span>
                </a>
            </li>
            <li tab-target="others">
                <a>
                    <span>others</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end tabs -->
    <div class="content-tabs">

        <div tab-content='overview' class='is-active'>
            <!-- START TAB CONTENT OVERVIEW -->
            <div class="columns is-multiline">
                <div class="column is-half">
                    <!-- first column START -->

                    <div class="box has-text-centered">
                        <h1 class='title'>Balances</h1>
                        <hr>
                        <div class="level">
                            <div class="level-item mr-2">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('HIVE') }}
                                    </p>
                                    <p class='heading'>HIVE</p>
                                </div>
                            </div>

                            
                            <div class="level-item mr-2">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('HBD') }}
                                    </p>
                                    <p class='heading'>HBD</p>
                                </div>
                            </div>

                            <div class="level-item ">
                                <div class="div">
                                    <p class='title'>
                                        {{ user_data.get('balances').get('available').get('VESTS') }}
                                    </p>
                                    <p class='heading'>VESTS</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box has-text-centered">
                        <h1 class="title">
                            Votes
                        </h1>
                        <hr>
                        <div class="level">
                            <div class="level-item">
                                <div>
                                    <p id='overview_Votes_votes_number' class="title">
                                        -12
                                    </p>
                                    <p class="heading">
                                        Votes
                                    </p>
                                </div>
                            </div>
                            <div class="level-item">
                                <div>
                                    <p id="overview_Votes_selfvotes_number" class="title">
                                        -23564156
                                    </p>
                                    <p class="heading">
                                        Self-Vote
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- first column stop -->

                </div>
                <div class="column is-half">
                    <!-- second column START -->
                    <div class="box has-text-centered">
                        <h1 class='title'>Ressources</h1>
                        <hr>

                        <p class="heading">
                            Voting Power:

                            <span class="tag">
                                {{ user_data.get('voting_power') }}%
                            </span>
                        </p>
                        <progress class="progress is-info" value="{{ user_data.get('voting_power') }}"
                            max="100">{{ user_data.get('voting_power') }}%</progress>

                        <p class="heading">
                            Downvoting Power:
                            <span class="tag">
                                {{ user_data.get('downvoting_power') }}%
                            </span>
                        </p>
                        <progress class="progress is-danger" value="{{ user_data.get('downvoting_power') }}"
                            max="100">{{ user_data.get('downvoting_power') }}%</progress>

                        <p class="heading">
                            Ressources Credits
                            <span class="tag">
                                {{ user_data.get('RC_pct')|round(2) }}%
                            </span>
                        </p>
                        <progress class="progress is-success" value="{{ user_data.get('RC_pct') }}"
                            max="100">{{ user_data.get('RC_pct') }}%</progress>

                    </div>

                    <div class="box has-text-centered">
                        <h1 class="title">
                            Posts
                        </h1>
                        <hr>
                        <p class='heading'>

                            Comments Number :
                            <span id='overview_Posts_comments_number' class='tag '>
                                {{ user_data.get('comment_number') }}
                            </span>
                        </p>
                        <p class='heading'>

                            Post Number :
                            <span id='overview_Posts_posts_number' class='tag '>
                                {{ user_data.get('post_number') }}
                            </span>
                        </p>
                    </div>

                    <!-- second column STOP -->

                </div>
                
                <div class="column is-one-third">
                    
                </div>
            </div>


            <!-- END TAB CONTENT OVERVIEW -->

        </div>


        <div tab-content='money'>
            MoneyMoneyMoneyMoneyMoney
        </div>

        <div tab-content='charts'>
            ChartsChartsChartsCharts
        </div>

        <div tab-content='others'>
            othersothersothersothers
        </div>

    </div>

</div>

{% endblock main %}

{% block script %}

<script src="{{ url_for("static", filename="js/tabs.js") }}"></script>

{% endblock script %}