{% extends 'public/templates/public_template.html' %}

{% block main %}
<section class="section">
    <div class="columns">
        <div class="column">
            
            <div class="field">
                <label class="label">Hive username</label>
                    <div class="control">
                    <input class="input is-primary" type="text" placeholder="Primary input">
                </div>
            </div>

            <div class="field">
                <button class="button is-primary">Let's go, Baby!</button>
            </div>

        </div>
    </div>
</section>
    {% endblock main %}