{% extends 'public/templates/public_template.html' %}

{% block main %}
<section class="section">
    <div class="columns">
        <div class="column  my-5 mx-5">
            <form action="{{ url_for('user') }}" method="post">
                <div class="field">
                    <label class="label is-size-3">
                        Hive username   
                    </label>
                    <div class="control">
                        <input class="input is-primary" name='username' type="text" placeholder="Your Hive Username">
                    </div>
                </div>

                <div class="field">
                    <button type="submit" class="button is-primary">Let's go, Baby!</button>
                </div>
            </form>

        </div>
        {% if wrong_username != False %}
        <div class="column">
            <article class="notification is-{{ state }} has-text-centered">
                <button class="delete"></button>
                The account <span class="tag is-rounded">{{ last_username }}</span> doesn't exists, try <span class="tag is-rounded">slashformotion</span> instead !
            </article>
        </div>
        {% endif %}
    </div>
</section>
{% endblock main %}




{% if wrong_username != False %}
{% block script %}
<script>document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
  
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>
{% endblock script %}
{% endif %}
