.center {
    display: flex;
    justify-content: center; /* vertical centering  */
    align-self: center; /* horizontal centering  */
}

/* icon classes for ionicons */

.icon-icon {
    font-size: 256px;
    /* display: inline-block; */
}

.footer-custom {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

div[tab-content] {
    display: none;
    
}
  
div[tab-content].is-active {
    display: block;
}